@media screen and (min-width:0px) and (max-width: 450px) {
  .comq input{
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .commentbox{
    margin-bottom: 50px;
  }
  .comq button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #9c0000;
    ;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .combox{
    padding: 3px;
    margin: 3px;
  }
 
  .ox1{
    width: auto;
    border-bottom: .1px solid rgb(230, 230, 230);
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 3px;
    
    }
  .ox12{display: flex;
    flex-direction: column;
    border-bottom: .1px solid rgb(230, 230, 230);
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin: 3px;
  }
.ox13{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
}
  .ox14{ 
    padding: 10px;
    margin: 5px;
  }
  
  .dropdown {
    position: relative;
  display: inline-block;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding:6px 6px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    background-color: #c3ffe1;
  }
  .but {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #9c0000;
    ;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  bottom: 50px;
  z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: -webkit-center;
    width: -webkit-fill-available;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .tott{
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    color: #000000;
    display: flex;
    justify-content: flex-end;

  }
  .tott .a{
    padding: 10px;
    background-color: #ffdede;
    text-align: end;
    


  }
  .subb{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    background-color: #ffe2e2;
  }
  .subc{
    display: flex;
    justify-content:flex-start;
    width: auto;
    padding: 10px;
    font-size: 16px;
  }
  .cartpo {
    display: flex;
    width: 300px;
    font-size: 16px;
    color: #9c0000;

  }
  .cartin {
    display: block;
    width: 100px;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1px;

  }
  
  /* Focus styles */
  .cartin:focus {
    outline: none;
    border-color: #9c0000;
    box-shadow: 0 0 5px #9c0000;
  }
  


  .butty {
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    border: none;
    color: #ffffff;
    background-color: #9c0000;
    cursor: pointer;
    margin: 1px;

  }
  .butti {
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 1px;
    border: none;
    color: #ffffff;
    background-color: #9c0000;
    cursor: pointer;
    margin-top: 50px;

  }
 
 
  
  
  
  .add {
    background-color: #9c0000;
    border: none;
    color: #9c0000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .tits {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .fits {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .lal {
    display: block;
    margin-bottom: 5px;
  }
  
 .lals {
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .containerin {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mn {
    display: flex;
    flex-direction: column;
}
  a {
    text-decoration: none;
  }
  .addd {
    color: #ffffff;
  }
  body {
    width: -webkit-fill-available;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
.p11 {
  height: 450px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.ic{
width: 15px;
margin-left: 3px;
}
.stars{
margin-bottom: 10px;
}
.pompom {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.back-frem {
  width: auto;
  height: auto;
  background: white;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-frem .back-chang {
  width: 50px;
  height: 50px;
  background: wheat;
  overflow: hidden;
  cursor: pointer;
}

.back-frem .back-chang img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}



      .prorow{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
      }
      
      .cardi {
        display: block;
        height: 300px;
        width: 45%;
        background-color: white;
        border: 2px solid rgba(179, 175, 175, 0.352);
        border-radius: 2px;
        margin: 3px;
        /* display: block; */
    }
        .iconmain{
  width: -webkit-fill-available;
}


      .cardi:hover {
        border: 1px solid #777;
        transition: .5s ease;}
       .title{
          padding: 3px 0px 0px 3px ;
        font-size: 15px;
        font-weight: bold;
       
      }
      .sdes{
            font-size: 15px;
            padding: 3px 3px;
      }
      .price{
            font-size: 16px;
            font-weight: bold;
            padding: 0px 3px;
            color: #9c0000;
    
      }
      .header {
        display: grid;
        margin-bottom: 6px;
        margin-top: 12px;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: #fffbfb;
    }
    .container {
        position: relative;
        width: -webkit-fill-available;
    }
      .details{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        flex-wrap: nowrap;
        
    }
    .dd{
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      flex-wrap: nowrap;
      height:50px ;
    }
    .ic{
      width: 15px;
      margin-left: 3px;
    }
    .stars{
      margin-bottom: 10px;
    }
    .image {
      opacity: 1;
      display: block;
      width: -webkit-fill-available;
      height: 200px;
      transition: .5s ease;
      backface-visibility: hidden;
  }
.text{ background: transparent;
        border: none;
        height: 200px;
        width: -webkit-fill-available;
        color: #000; /* Set the color of the button text */
        cursor: pointer;
        outline: none;}
.middle {
          transition: .5s ease;
          opacity: 0;
          position: inherit;
          top: 61%;
          left: 50%;
          transform: translate(0%, -100%);
          -ms-transform: translate(-50%, -50%);
}
      
      .bontainer:hover .image {
        opacity: 0.2;
        cursor: pointer;
      }
      
      .bontainer:hover .middle {
        opacity: .3;
        background-color: #23f8bc;
    
      }
    .rr{
      width:100% ;
      height: 60px;
      background-color: rgba(255, 255, 255, 0);
    }
    
      .car{
        background-color: #083eff;
        width: 20%;
        height: 100px;
      }
      
        .button {
          
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
          
          }
          
         
          .buy{
            background-color:white;
            border: 5;
            outline: 5;
            color: black;
            padding: 10px 15px;
            font-family: 'poppins',sans-serif;
      
          }
      
          
      
        .topnav {
          display: none;
          overflow: hidden;
          background-color: #e9e9e9;
          margin-bottom: 10px;
    
        }
        
        /* Style the links inside the navigation bar */
        .topnav a {
          float: left;
          display: block;
          color: black;
          text-align: center;
          padding:6px 6px;
          text-decoration: none;
          font-size: 16px;
        }
        
        /* Change the color of links on hover */
        .topnav a:hover {
          background-color: #c3ffe1;
          color: black;
        }
        
        /* Style the "active" element to highlight the current page */
        .topnav a.active {
          background-color: #23f8bc;
          color: white;
        }
        
        /* Style the search box inside the navigation bar */
        .topnav input[type=text] {
          float: right;
          padding: 6px;
          border: none;
          margin-right: 16px;
          font-size: 15px;
          max-width: 30%;
        }
       
        footer {
            /* float: initial; */
            background-color: #23f8bc;
            padding: 15px 0;
            bottom: 0px;
            display: none;
        }
       
            
        .mobfooter {
          display: flex;
          background-color: #000000;
          height: 50px;
          bottom: 0;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          position: fixed;
          color:#ddd;
          width: -webkit-fill-available;
      }
      .ic{
        width: 20px;
      }
        .searchbar form{
            display: grid;
            grid-template-columns: 85% 15%;
        }
        /* .searchbar input {
            width: inherit;
            background-color: #ffffff;
            height: 30px;
            border-color: rgb(221, 24, 24);
        } */
  .popo{
    padding: 5px 10px;
    background-color: #9c0000;
    color: white;
    border: none;
    cursor: pointer;
    height: 25px;
    }
  .coco{
    padding: 1px 5px;
    border: 1px solid #640000;
    height: 25px;

    }

  .bontainer{
    height: 200px;
  }

    .proside {
      display: none;
      position: inherit;
      background-color: #ffffff;
      flex-direction: column;
      align-items: flex-end;
  }
  .promain {
      display: grid;
      grid-template-rows: 100% 0%;
  }
  .proimage {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .bardi {
    display: block;
    width: auto;
    background-color: white;
    border: 2px solid rgba(179, 175, 175, 0.352);
    border-radius: 2px;
    margin: 3px;
    padding-bottom: 60px;
}
        .proall {
          display: grid;
          grid-template-rows: inherit 20% 30%;
        }
        .reviews{
          height: 300px;
          width: -webkit-fill-available;
          background-color: #eff3ff;
        }
        .comments{
          height: 300px;
          width: -webkit-fill-available;
          background-color: rgb(253, 254, 255);
        }























































































  }
  